$white: #fff;
$dark: #000;
$dark-2: #333;
$dark-3: #191919;

// primary color
$theme-color: #BED455;
$alter-color: #f3b447;
$sky-blue: #89cff0;
$dark-grey: #686868;
$maroon: #800000;
$navy: #000075;
$magenta: #f032e6;
$brown: #9A6324;
$olive: #808000;
$teal: #469990;
$red: #e6194B;
$dgreen: #3cb44b;
$purple: #911eb4;
$grey: #a9a9a9;
$yellow: #ffe119;


$text-color: #444444;
$text-alter : #3c3c3c;
$text-light: #999999;
$text-light-2: #707070;
$light: #bcbcbc;
$ip-bg: #ededed;
$border-clr: #c6c6c6;

$placeholder-color: #aaaaaa;

$active-color: #5db75d;
$danger-color: #EF3F35;

// fonts
